html, body{
	height: 100%;
	background: #000000;
}

#splashHdr{
	position: absolute;
	top: 200px;
	left: 35%;
	height: 496px;
	min-width: 670px;
	min-height: 496px;
	background: url( '../images/lg.png' ) no-repeat;
	background-position: top;
	
	z-index: 11
}

#skyBG{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 192px;
	background-image: url( '../images/skygrad.gif');
	background-position: left;
	background-repeat: repeat-x;
  
	z-index: 1;
}

#mtnScroll{ 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 32px;
	margin-top: 160px;
	background-image: url( '../images/mountains.png' );
	background-position: bottom;
	background-repeat: repeat-x; 

	z-index: 2;	
}

#cldScrollA{ 
  
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 32px;
	margin-top: 96px;
	background-image: url( '../images/cloudsA.png' );
	background-position: bottom;
	background-repeat: repeat-x; 

	z-index: 3;	
}

#sectSplashMain{
	display: none;
	margin: auto;
	background: #05f4e8;
	width: 100%;
}

#whtUNeed{
  
	font-size: 2.571em;
	color: #e0e0df;
	position: absolute;
	width: 300px;
	height: 64px;
	margin-top: 64px;
	padding: 0;
	top: 0;
	left: 60px;
  
  z-index: 10;
}

#leftbox{
  
	position: absolute;
	top: 50%;
	left: 25%;
	height: 200px;
	width: 200px;
	background: url( '../images/sm_neg.png' ) no-repeat;
	background-position: top;
	background-repeat: repeat-x;
	
	z-index: 11
}

.subLinkBox{

	font-size: 1.5em;
	color: #ffffff;
	margin-top: 10px;
	padding: 10px;
	background-color: #007aff; 
	
}

.mainLinkBox{
	font-size: 1.5em;
	color: #ffffff;
	
	margin-top: 240px;
	padding: 10px;
	background-color: #007aff; 
	
	width: 256px;
	


}

.cthulu{
	font-size: 1.5em;
	color: #ffffff;
	
	background-color: #000000; 
	
	/*
	position: absolute;
	*/
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	
	width: 100%;
	height: 400px;
	
	/*
	text-align: center;
	*/
	
}