html {
}


body {
    
    background-color: #000000;
}


.container {
    
    width:500px;
/*    height:600px;
 */

    
}


.header {
    
    background-color:#eeA000;
    color: #000000;
}


h1 {
    
    margin-bottom:0;
    color: #000000;
}


.menu {
    
    background-color:#FFD700; 
    height:200px; 
    width:100px; 
    float:left; 
    color: #000000;   
}


.menuTitle {
    
    background-color:#FFD700; 
    height:20px; 
    width:100px; 
    float:left;   
    
    color: #000000;
    font-weight: bold;
    
}



.content {
    
    background-color:#EEEEEE;
    height:200px;
    width:400px;
    float:left;
    
    background: url( '../images/cthulu.jpg' ) no-repeat;
    background-position: center;
    
    color: #FFFFFF;
    font-family: 'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-size: 400%;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}


.footer {
    
    background-color:#eeA000;
    clear:both;
    text-align:center;
}

