/*

@import "reset.css";
@import "global-forms.css";

*/

body {
    
    background: #000000;
    
    color: #ffffff;
    font-family: 'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-size: 100%;
    line-height: 1.429;
    margin: 10px;
    padding: 10px;
    text-align: left;
}
h2 {
    font-size: 1.571em;
}
h3 {
    font-size: 1.429em;
}
h4 {
    font-size: 1.286em;
}
h5 {
    font-size: 1.143em;
}
h6 {
    font-size: 1em;
}
h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0.8em;
}
a {
    outline: 0 none;
}
a img {
    border: 0 none;
    text-decoration: none;
}
a:link, a:visited {
    color: #000ef4;
    padding: 0 1px;
    text-decoration: none;
}
a:hover, a:active {
 	background: none;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333333;
}
p {
    margin-bottom: 1.143em;
}
* p:last-child {
    margin-bottom: 0;
}
strong, b {
    font-weight: bold;
}
em, i {
    font-style: italic;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #F6CF74;
    color: #FFFFFF;
}
ul {
    list-style: disc outside none;
    margin: 1em 0 1.5em 1.5em;
}
ol {
    list-style: decimal outside none;
    margin: 1em 0 1.5em 1.5em;
}
dl {
    margin: 0 0 1.5em;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 1.5em;
}
blockquote {
    font-style: italic;
}
cite {
}
q {
}
table {
    margin: 0.5em auto 1.5em;
    width: 98%;
}
thead th {
    padding: 0.5em 0.4em;
    text-align: left;
}
thead td {
}
tbody td {
    padding: 0.5em 0.4em;
}
tbody th {
}
tbody .alt td {
}
tbody .alt th {
}
tfoot th {
}
tfoot td {
}
header, section, footer, aside, nav, article, figure {
    display: block;
}
.body {
    clear: both;
    margin: 0 auto;
    width: 800px;
}
img.right figure.right {
    float: right;
    margin: 0 0 2em 2em;
}
img.left, figure.left {
    float: right;
    margin: 0 0 2em 2em;
}
#banner {
    margin: 0 auto;
    padding: 2.5em 0 0;
}
#banner h1 {
    font-size: 3.571em;
    line-height: 0.6;
}
#banner h1 a:link, #banner h1 a:visited {
    color: #000305;
    display: block;
    font-weight: bold;
    margin: 0 0 0.6em 0.2em;
    text-decoration: none;
    width: 427px;
}
#banner h1 a:hover, #banner h1 a:active {
    background: none repeat scroll 0 0 transparent;
    color: #C74350;
    text-shadow: none;
}
#banner h1 strong {
    font-size: 0.36em;
    font-weight: normal;
}
#banner nav {
    background: none repeat scroll 0 0 #000305;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.143em;
    height: 40px;
    line-height: 30px;
    margin: 0 auto 2em;
    padding: 0;
    text-align: center;
    width: 800px;
}
#banner nav ul {
    list-style: none outside none;
    margin: 0 auto;
    width: 800px;
}
#banner nav li {
    display: inline;
    float: left;
    margin: 0;
}
#banner nav a:link, #banner nav a:visited {
    color: #FFFFFF;
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
}
#banner nav a:hover, #banner nav a:active, #banner nav .active a:link, #banner nav .active a:visited {
    background: none repeat scroll 0 0 #C74451;
    color: #FFFFFF;
    text-shadow: none !important;
}
#banner nav li:first-child a {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#featured {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    width: 760px;
}
#featured figure {
    border: 2px solid #EEEEEE;
    float: right;
    margin: 0.786em 2em 0 5em;
    width: 248px;
}
#featured figure img {
    display: block;
    float: right;
}
#featured h2 {
    color: #C74451;
    font-size: 1.714em;
    margin-bottom: 0.333em;
}
#featured h3 {
    font-size: 1.429em;
    margin-bottom: 0.5em;
}
#featured h3 a:link, #featured h3 a:visited {
    color: #000305;
    text-decoration: none;
}
#featured h3 a:hover, #featured h3 a:active {
    color: #FFFFFF;
}
#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    width: 760px;
}
#extras {
    margin: 0 auto 3em;
    overflow: hidden;
}
#extras ul {
    list-style: none outside none;
    margin: 0;
}
#extras li {
    border-bottom: 1px solid #FFFFFF;
}
#extras h2 {
    color: #C74350;
    font-size: 1.429em;
    margin-bottom: 0.25em;
    padding: 0 3px;
}
#extras a:link, #extras a:visited {
    border-bottom: 1px solid #F4E3E3;
    color: #444444;
    display: block;
    padding: 0.3em 0.25em;
    text-decoration: none;
}
#extras li:last-child, #extras li:last-child a {
    border: 0 none;
}
#extras .blogroll li:nth-last-child(2), #extras .blogroll li:nth-last-child(3), #extras .blogroll li:nth-last-child(2) a, #extras .blogroll li:nth-last-child(3) a {
    border: 0 none;
}
#extras a:hover, #extras a:active {
    color: #FFFFFF;
}
#extras .blogroll {
    float: left;
    width: 615px;
}
#extras .blogroll li {
    float: left;
    margin: 0 20px 0 0;
    width: 185px;
}
#extras .social {
    float: right;
    width: 175px;
}
#extras div[class="social"] a {
    background-position: 3px 6px;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.social a[href*="delicious.com"] {
    background-image: url("../images/icons/delicious.png");
}
.social a[href*="digg.com"] {
    background-image: url("../images/icons/digg.png");
}
.social a[href*="facebook.com"] {
    background-image: url("../images/icons/facebook.png");
}
.social a[href*="last.fm"], .social a[href*="lastfm."] {
    background-image: url("../images/icons/lastfm.png");
}
.social a[href*="/feed/"] {
    background-image: url("../images/icons/rss.png");
}
.social a[href*="twitter.com"] {
    background-image: url("../images/icons/twitter.png");
}
#about {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    font-style: normal;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    width: 760px;
}
#about .primary {
    float: left;
    width: 165px;
}
#about .primary strong {
    color: #C64350;
    display: block;
    font-size: 1.286em;
}
#about .photo {
    float: left;
    margin: 5px 20px;
}
#about .url:link, #about .url:visited {
    text-decoration: none;
}
#about .bio {
    float: right;
    width: 500px;
}
#contentinfo {
    padding-bottom: 2em;
    text-align: right;
}
.hentry {
    border-bottom: 1px solid #EEEEEE;
    padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {
    border: 0 none;
    margin: 0;
}
#content > .hentry {
    padding: 1em 0;
}
.entry-title {
    font-size: 1.429em;
    margin-bottom: 0;
}
.entry-title a:link, .entry-title a:visited {
    text-decoration: none;
}
.hentry .post-info * {
    font-style: normal;
}
.hentry footer {
    margin-bottom: 2em;
}
.hentry footer address {
    display: inline;
}
#posts-list footer address {
    display: block;
}
#posts-list {
    list-style: none outside none;
    margin: 0;
}
#posts-list .hentry {
    padding-left: 200px;
    position: relative;
}
#posts-list .hentry:hover {
    background: none repeat scroll 0 0 #C64350;
    color: #FFFFFF;
}
#posts-list .hentry:hover a:link, #posts-list .hentry:hover a:visited {
    color: #F6CF74;
    text-shadow: 1px 1px 1px #333333;
}
#posts-list footer {
    left: 10px;
    position: absolute;
    top: 1.5em;
    width: 190px;
}
#about-author {
    background: none repeat scroll 0 0 #F9F9F9;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    font-style: normal;
    margin: 2em 0;
    padding: 10px 20px 15px;
}
#about-author strong {
    clear: both;
    color: #C64350;
    display: block;
    font-size: 1.429em;
}
#about-author .photo {
    border: 1px solid #DDDDDD;
    float: left;
    margin: 5px 1em 0 0;
}
#comments-list {
    list-style: none outside none;
    margin: 0 1em;
}
#comments-list blockquote {
    background: none repeat scroll 0 0 #F8F8F8;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    font-style: normal;
    margin: 0;
    padding: 15px 20px;
}
#comments-list footer {
    color: #888888;
    padding: 0.5em 1em 0 0;
    text-align: right;
}
#comments-list li:nth-child(2n) blockquote {
    background: none repeat scroll 0 0 #F5F5F5;
}
#add-comment label {
    clear: left;
    float: left;
    text-align: left;
    width: 150px;
}
#add-comment input[type="text"], #add-comment input[type="email"], #add-comment input[type="url"] {
    float: left;
    width: 200px;
}
#add-comment textarea {
    float: left;
    height: 150px;
    width: 495px;
}
#add-comment p.req {
    clear: both;
    margin: 0 0.5em 1em 0;
    text-align: right;
}
#add-comment input[type="submit"] {
    float: right;
    margin: 0 0.5em;
}
#add-comment * {
    margin-bottom: 0.5em;
}
