html{
	
	background: #000000;
	
}

body{
	
	background-color: #000000;
	position: absolute;
	height: 100%;
	width: 100%;
	background: #000000;
	
	
	color: #FFFFFF;
	font-family: 'Trebuchet MS',Trebuchet,'Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-size: 100%;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;

}

#splashHdr{
	position: absolute;
	top: 10px;
	left: 75%;
	height: 180px;
	min-width: 231px;
	min-height: 240px;
	background: url( '../images/cthulu.png' ) no-repeat;
	background-position: top;
	
	z-index: 11
}

#skyBG{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 192px;
	background-image: url( '../images/skygrad.gif');
	background-position: left;
	background-repeat: repeat-x;
  
	z-index: 1;
}

#mtnScroll{ 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 32px;
	margin-top: 160px;
	background-image: url( '../images/mountains.png' );
	background-position: bottom;
	background-repeat: repeat-x; 

	z-index: 2;	
}

#cldScrollA{ 
  
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 32px;
	margin-top: 96px;
	background-image: url( '../images/cloudsA.png' );
	background-position: bottom;
	background-repeat: repeat-x; 

	z-index: 3;	
}

#sectSplashMain{
	display: none;
	margin: auto;
	background: #05f4e8;
	width: 100%;
}



#leftbox{
  
	position: absolute;
	top: 50%;
	left: 25%;
	height: 200px;
	width: 200px;
	background: url( '../images/sm_neg.png' ) no-repeat;
	background-position: top;
	background-repeat: repeat-x;
	
	z-index: 11
}

.mainLinkBox{
	
	position: absolute;
	margin-top: 180px;
	padding: 10px;
	background-color: #0036b2; 
	left: 0;
	height: 300px;
	width: 1070px;
	
	
	
	/*
	width: 600px;
	max-width 600px;
	max-height: 300px;
	
	*/
	
}

.subLinkBox{

	position: relative;
	font-size: 1.5em;
	color: #444444;
	
	top: 0;
	margin: 0;
	padding: 10px;
	background-color: #000000; 
	
 /*
	left: 35%;
*/
	height: 280px;
	width: 150px;
	
}

.subLinkBoxB{

	position: absolute;
	font-size: 1.5em;
	color: #444444;
	
	top: 0;
	margin: 10px;
	padding: 10px;
	background-color: #000000; 
	

	left: 180px;

	height: 280px;
	width: 150px;
	
}

.subLinkBoxC{

	position: absolute;
	font-size: 1.5em;
	color: #444444;
	
	top: 0;
	margin: 10px;
	padding: 10px;
	background-color: #000000; 
	

	left: 360px;

	height: 280px;
	width: 150px;
	
}

.subLinkBoxD{

	position: absolute;
	font-size: 1.5em;
	color: #444444;
	
	top: 0;
	margin: 10px;
	padding: 10px;
	background-color: #000000; 
	

	left: 540px;

	height: 280px;
	width: 150px;
	
}

.subLinkBoxE{

	position: absolute;
	font-size: 1.5em;
	color: #444444;
	
	top: 0;
	margin: 10px;
	padding: 10px;
	background-color: #000000; 
	

	left: 720px;

	height: 280px;
	width: 150px;
	
}

.subLinkBoxF{

	position: absolute;
	font-size: 1.5em;
	color: #444444;
	
	top: 0;
	margin: 10px;
	padding: 10px;
	background-color: #000000; 
	

	left: 900px;

	height: 280px;
	width: 150px;
	
}



.colList{
	
	font-size: 1.5em;
	color #ffffff;
	
	position: relative;
	left: 15%;
	
	margin-top: 5px;
	padding: 10px;
	background-color: #555555;
	width: 300px;
	
}

.colForm{
	
	font-size: 1em;
	color #ffffff;
	
	position: relative;
	
/*
left: 15%;
*/
	
	margin-top: 10px;
	padding: 10px;
	background-color: #555555;
	width: 400px;
	
}



.colFormRight{
	
	font-size: 1em;
	color #ffffff;
	
	position: absolute;
	

left: 50%;

	top: 0;
	margin-top: 0;
	padding: 10px;
	background-color: #555555;
	width: 400px;
	
}

.formContain{
	
	
	position: relative;
	margin-top: 100px;
	padding: 0px;
	background-color: #ffffff;
	width: 100%;
	margin: auto 0;
	
	
}


.lightningGale{
	
	
	position: absolute;
	top: 0;
	margin-top: 100px;
	left: 35%;
	padding: 0px;
	background-color: #ffffff;
	width: 400px;
	min-width: 400px;
	height: 296px;
	min-height: 296px;
	background: url('../images/lightningGalesmall.jpg') no-repeat;
	
}


