/* 	Html,Body */
html,body {
	color: #ffffff;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;

	background-color:#000000;
	
	}

/* Tables */
table {
	
	margin: .5em auto 1.5em auto; 
	width: 50%;
	
}
	
	/* Thead */
	thead {padding: .5em .4em; text-align: left;}
	thead {}
	
	th {
	
	font-size: 200%;
	color: #ffffff;
	
	}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody {}
	
	tbody .alt td {}
	tbody .alt th {}
	
	/* Tfoot */
	tfoot {}
	tfoot {}

	}