<flashlight>
	<barrel color="black" material="metal" style="pen">
    	<switch type="push" location="rear" waterproof=true />
    		<battery type="aaa" count="2" />
    </barrel>
    <lightHousing>
     	<bulb type = "sbLED" />
      		<lens type="plastic" strength="highImpact" />
    </lightHousing>
  	<strap length="short" material="nylon"/>
  	</strap>
</flashlight>